.menuContainer {
    border: 1px solid #cdcdcd;
    margin: 10px 0px;
}

.menuItem {
    display: inline-block;
    margin-right: 15px;
    font-size: 1.5rem;
}

.menuItem a {
    color: #206199;
    text-decoration: underline;
}

.menuItemDropdown {
    display: block;
    margin-right: 15px;
    font-size: 1.5rem;
}

.menuItemDropdown a {
    color: #206199;
    text-decoration: underline;
}

.itemCartCount {
    position: absolute;
    font-size: 0.85rem;
    color: #94989a;
}

.cartPosition {
    margin-top: 10px;
}